<div class="col-md-4 mb-5">
  <h2>About Us</h2>
  <hr />
  <p>
    We specializes in developing custom algo trading strategies and indicators for traders and financial analysts who are looking to hire professional algo trading developers. 
  </p>
  <p>
    Our small team is dedicated to delivering high-quality trading solutions that enhance decision-making and performance on trading platforms. By focusing on the development of tailored strategies and indicators, we ensure our clients gain an edge in the competitive trading landscape.
  </p>
  <p><b>
    You can hire us for consulting/developing algotrading systems.
    </b>
  </p>

  <!-- <address>
    <strong>Start Bootstrap</strong>
    <br />3481 Melrose Place <br />Beverly Hills, CA 90210
    <br />
  </address> -->
  <address>
    <abbr title="Discord">Discord:</abbr>
    <a href="https://discord.gg/nHzqwXX7">Trend-follow.io</a>
    <br />
    <abbr title="Email">Email:</abbr>
    <a href="mailto:#">contact@trend-follow.io</a>
  </address>
</div>
